.barChatContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end; 
  width: 100%;
  height: 300px;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.barContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; 
  height: 100%; 
}

.bar {
  width: 30px;
  background-color: #eb1c3c;
}

.barLabel {
  margin-top: 5px;
  font-size: 12px;
}
