.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .listContainer {
    width: 48%;
  }
  
  .anotacaoList {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .anotacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 12px;
  }
  
  .inputdiv {
    background-color: #fff;
    border: 1px solid #eb1c3c;
    border-radius: 25vw;
    padding: 10px;
    display: flex;
    flex-direction: row;
  }
  
  .botaoMostar {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .botao {
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  
  .botaotrash {
    border: 1px solid #eb1c3c;
    border-radius: 100%;
    height: 1.5vw;
    width: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .input {
    width: 16vw;
    background-color: #fff;
    border: none;
  }
  
  .input:focus {
    outline: none;
  }
  
  .title {
    border-bottom: 2px solid #eb1c3c;
    padding: 1.3%;
    color: #fff;
    font-size: large;
    text-align: center;
  }
  
  .all {
    padding: 30px;
  }
  