.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.listContainer {
  width: 48%;
}

.anotacaoList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.anotacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 12px;
}

.botaoMostar {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.botao {
  border: none;
  background-color: #fff;
  cursor: pointer;
  display: flex;
}

.botaotrash {
  border: 1px solid #eb1c3c;
  border-radius: 100%;
  height: 2vw;
  width: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputdiv {
  background-color: #fff;
  border: 1px solid #eb1c3c;
  border-radius: 25vw;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.input {
  width: 26vw;
  background-color: #fff;
  border: none;
}

.dataPicker {
  width: 8vw;
  background-color: #fff;
  text-align: center;
  border: none
}

.dataPicker:focus {
  outline: none;
}

.input:focus {
  outline: none;
}

.title {
  border-bottom: 2px solid #eb1c3c;
  padding: 1.3%;
  color: #fff;
  font-size: large;
  text-align: center;
}

.all {
  padding: 0px;
}